<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Semantic.css を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- jquery1.7.1 を読み込む -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Semantic-ui.js を読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .pusher {
            padding-top:80px;
        }
    </style>
    <title>個人スケジュール</title>
</head>
<body>
    <!-- サイドバーメニュー -->
    <div class="ui red sidebar inverted vertical menu">
        <p class="item">HOME</p>
        <a class="item" href="/"><i class="calendar icon"></i>Schedule</a>
        <a class="item" href="/Myschedule"><i class="tasks icon"></i>MySchedule</a>
        <a class="item" href="/Shopping"><i class="shop icon"></i>Shopping</a>
    </div>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui red inverted fixed menu">
        <div id="js-sidebar" class="item"><i class="icon large content"></i></div>
        <a class="active item"><i class="user icon"></i><%= @username[0] %></a>
    </div>

    <!-- コンテンツ本体 -->
    <div class="pusher">
        <div class="ui center aligned container">
            <h1>MySchedule</h1>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>08:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][1] %></td>
                            <td><%= @timetable[0][1]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>09:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][2] %></td>
                            <td><%= @timetable[0][2]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>10:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][3] %></td>
                            <td><%= @timetable[0][3]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>11:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][4] %></td>
                            <td><%= @timetable[0][4]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>12:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][5] %></td>
                            <td><%= @timetable[0][5]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>13:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][6] %></td>
                            <td><%= @timetable[0][6]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>14:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][7] %></td>
                            <td><%= @timetable[0][7]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>15:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][8] %></td>
                            <td><%= @timetable[0][8]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>16:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][9] %></td>
                            <td><%= @timetable[0][9]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>17:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][10] %></td>
                            <td><%= @timetable[0][10]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>18:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][11] %></td>
                            <td><%= @timetable[0][11]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>19:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][12] %></td>
                            <td><%= @timetable[0][12]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>20:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][13] %></td>
                            <td><%= @timetable[0][13]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>21:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][14] %></td>
                            <td><%= @timetable[0][14]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <h4 class="ui horizontal divider header"><i class="wait icon"></i>22:00 ~</h4>
            <div class="ui left aligned container text">
                <table class="ui table">
                    <thead>
                        <tr><th class="ten wide">Time</th>
                        <th class="six wide">Task</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td><%= @mytable[0][15] %></td>
                            <td><%= @timetable[0][15]%></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="ui divider"></div>
        </div>

    </div>
  
</body>
<!-- サイドバーの開閉処理 -->
<script>
    $('#js-sidebar').click(function() {
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
</html>