<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Semantic.css を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- jquery1.7.1 を読み込む -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Semantic-ui.js を読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .pusher {
            padding-top:80px;
        }
    </style>
    <title>日刊スケジュール</title>
</head>
<body>
    <!-- サイドバーメニュー -->
    <div class="ui red sidebar inverted vertical menu">
        <p class="item" >HOME</p>
        <a class="item" href="/"><i class="calendar icon"></i>Schedule</a>
        <a class="item" href="/Myschedule"><i class="tasks icon"></i>MySchedule</a>
        <a class="item" href="/Shopping"><i class="shop icon"></i>Shopping</a>
    </div>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui red inverted fixed menu">
        <div id="js-sidebar" class="item"><i class="icon large content"></i></div>
        <a class="active item"><i class="user icon"></i><%= @username[0] %></a>
    </div>

    <!-- コンテンツ本体 -->
    <div class="pusher">
        <div class="ui center aligned container">
            <h1>Schedule</h1>
            <table class="ui fixed single line celled table">
                <thead>
                    <tr><th>Time</th>
                    <th>Parade</th>
                    <th>Task</th>
                </tr></thead>
                <tbody>
                    <tr>
                        <td>０８：００ ～ </td>
                        <td>-- --</td>
                        <td><%= @timetable[0][1] %></td>
                    </tr>
                    <tr>
                        <td>０９：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][2] %></td>
                    </tr>
                    <tr>
                        <td>１０：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][3] %></td>
                    </tr>
                    <tr>
                        <td>１１：００ ～ </td>
                        <td>HAL・ファンタジーパレード</td>
                        <td><%= @timetable[0][4] %></td>
                    </tr>
                    <tr>
                        <td>１２：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][5] %></td>
                    </tr>
                    <tr>
                        <td>１３：００ ～ </td>
                        <td>ゲームとミュージックのウィンターグリーティング</td>
                        <td><%= @timetable[0][6] %></td>
                    </tr>
                    <tr>
                        <td>１４：００ ～ </td>
                        <td>ハピネス・イズ・HAL</td>
                        <td><%= @timetable[0][7] %></td>
                    </tr>
                    <tr>
                        <td>１５：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][8] %></td>
                    </tr>
                    <tr>
                        <td>１６：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][9] %></td>
                    </tr>
                    <tr>
                        <td>１７：００ ～ </td>
                        <td>エレクトリカルパレード・ドリームライツ</td>
                        <td><%= @timetable[0][10] %></td>
                    </tr>
                    <tr>
                        <td>１８：００ ～ </td>
                        <td>フローズン・フォーサーバー</td>
                        <td><%= @timetable[0][11] %></td>
                    </tr>
                    <tr>
                        <td>１９：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][12] %></td>
                    </tr>
                    <tr>
                        <td>２０：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][13] %></td>
                    </tr>
                    <tr>
                        <td>２１：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][14] %></td>
                    </tr>
                    <tr>
                        <td>２２：００ ～ </td>
                        <td>--  --</td>
                        <td><%= @timetable[0][15] %></td>
                    </tr>
                </tbody>
            </table>
        </div>              
    </div>
  
</body>
<!-- サイドバーの開閉処理 -->
<script>
    $('#js-sidebar').click(function() {
        $('.ui.sidebar').sidebar('toggle');
    });
</script>
</html>