<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Semantic.css を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- jquery1.7.1 を読み込む -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Semantic-ui.js を読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .pusher {
            padding-top:80px;
        }
    </style>
    <title>スケジュール登録</title>
</head>
<body>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui red inverted fixed menu">
        <a class="active item"><i class="user icon"></i>UserName</a>
    </div>

    <!-- コンテンツ本体 -->
    <div class="pusher">
        <div class="ui center aligned container">
            <h1 style="margin-bottom: 30px">ScheduleAdd</h1>
            <div class="ui mobile reversed equal width grid">
                <div class="column">アトラクション</div> 
                <div class="column">
                    <p><%= @paradename %></P>
                </div>
            </div>

            <div class="ui section divider"></div>

            <div class="ui mobile reversed equal width grid">
                <div class="column">時間入力</div> 
                <div class="column">
                    <p><%= @time %></p>
                </div>
            </div>

            <div class="ui section divider"></div>

            <a href="/"><button class="ui right floated button blue">キャンセル</button></a>

            <form action="/AttractionsAdd" method="post">
                <button class="ui right floated button blue">追加</button>
                <input type="hidden" name="paradename" value="<%= @paradename %>">
                <input type="hidden" name="table" value="<%= @table %>">
                <input type="hidden" name="time" value="<%= @time %>">
            </form>

        </div>              
    </div>
  
</body>

</html>