<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Semantic.css を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- jquery1.7.1 を読み込む -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Semantic-ui.js を読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .pusher {
            padding-top:80px;
        }
    </style>
    <title>レシート登録</title>
</head>
<body>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui red inverted fixed menu">
        <a class="active item"><i class="user icon"></i>UserName</a>
    </div>

    <!-- コンテンツ本体 -->
    <div class="pusher">
        <div class="ui center aligned container">
            <h1 style="margin-bottom: 30px"><%= @goods['shop'] %></h1>
            <h4 class="ui horizontal divider header"><i class="shopping basket icon"></i>購入レシート一覧</h4>
            <form action="/ShoppingAdd" method="post">

                <% if @goods['goods'].class == Array %>
                    <% for num in 0..@goods['goods'].length-1 do %>
                        <div class="ui mobile equal width grid">
                            <div class="column"><%= @goods['goods'][num] %></div> 
                            <div class="column"><%= @goods['count'][num] %></div>
                            <div class="column"><%= @goods['unitprice'][num] %></div>
                            <input type="hidden" name="goods" value="<%= @goods['goods'][num] %>">
                            <input type="hidden" name="count" value="<%= @goods['count'][num] %>">
                            <input type="hidden" name="unitprice" value="<%= @goods['unitprice'][num] %>">
                        </div>
                    <% end %>
                <% else %>
                    <div class="ui mobile equal width grid">
                        <div class="column"><%= @goods['goods'] %></div> 
                        <div class="column"><%= @goods['count'] %></div>
                        <div class="column"><%= @goods['unitprice'] %></div>
                        <input type="hidden" name="goods" value="<%= @goods['goods'] %>">
                        <input type="hidden" name="count" value="<%= @goods['count'] %>">
                        <input type="hidden" name="unitprice" value="<%= @goods['unitprice'] %>">
                    </div>

                <% end %>

                <div class="ui section divider"></div>

                <h4 class="ui horizontal divider header"><i class="yen basket icon"></i>購入レシート一覧</h4>

                <div class="ui mobile equal width grid" style="margin-bottom: 50px;">
                    <div class="column">合計</div> 
                    <div class="column"><%= @goods['totalfee'] %></div>
                    <input type="hidden" name="totalfree" value="<%= @goods['totalfee'] %>">
                </div>
                <a href=""><button class="ui right floated button blue">戻る</button></a>

                <button class="ui right floated button blue">追加</button>
                <input type="hidden" name="time" value="1:00">
                <input type="hidden" name="shop" value="<%= @goods['shop'] %>">
            </form>

        </div>              
    </div>
  
</body>
<!-- サイドバーの開閉処理 -->
<script>
    $('#js-sidebar').click(function() {
        $('.ui.sidebar').sidebar('toggle');
    });

    $('.ui.dropdown') .dropdown();
</script>
</html>