<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Semantic.css を読み込む -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.10/semantic.min.css">
    <!-- jquery1.7.1 を読み込む -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <!-- Semantic-ui.js を読み込む -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
    <style>
        .pusher {
            padding-top:80px;
        }
    </style>
    <title>shopping</title>
</head>
<body>
    <!-- サイドバーメニュー -->
    <div class="ui red sidebar inverted vertical menu">
        <p class="item">HOME</p>
        <a class="item" href="/"><i class="calendar icon"></i>Schedule</a>
        <a class="item" href="/Myschedule"><i class="tasks icon"></i>MySchedule</a>
        <a class="item" href="/Shopping"><i class="shop icon"></i>Shopping</a>
    </div>

    <!-- 上部ナビゲーションメニュー -->
    <div class="ui red inverted fixed menu">
        <div id="js-sidebar" class="item"><i class="icon large content"></i></div>
        <a class="active item"><i class="user icon"></i><%= @username[0] %></a>
    </div>

    <!-- コンテンツ本体 -->
    <div class="pusher">
        <div class="ui center aligned container">
            <h1>購入履歴</h1>
            <div class="ui right aligned container text">
                <button class="ui button"><i class="calendar icon"></i>購入日付変更</button>
            </div>
            <h4 class="ui horizontal divider header"><i class="shopping basket icon"></i>購入レシート一覧</h4>
            <div class="ui container aligned container text">
                <% @shoppinglist.each do |shop| %>
                    <div class="ui accordion">
                        <div class="title"><p><i class="shop icon"></i><%= shop %>　合計　￥<%= @totalfee[shop] %></p></div>
                        <div class="content">
                            <table class="ui very basic table">
                                <thead>
                                    <tr>
                                        <th>商品名</th>
                                        <th>個数</th>
                                        <th>値段</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @shopping[shop].each do |goods| %>
                                        <tr>
                                            <td><%= goods[0] %></td>
                                            <td><%= goods[1] %></td>
                                            <td>￥<%= goods[2] %></td>
                                        </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <% end %>
                
            </div>
            <h4 class="ui horizontal divider header"><i class="yen icon"></i>本日の利用料金</h4>
            <div class="ui right aligned container text">
                <p>合計金額　<%= @daytotal %></p>
            </div>
        </div>
    </div>
  
</body>
<!-- サイドバーの開閉処理 -->
<script>
    $('#js-sidebar').click(function() {
        $('.ui.sidebar').sidebar('toggle');
    });

    $('.ui.accordion').accordion();
</script>
</html>